.container-jee{
    padding-bottom: 0;
    min-width: unset;
    margin-left: auto;
    margin-right: auto;

}

.div-container{   
    padding-left: 176px;
    padding-right: 176px;
    padding-top: 46px;
    align-items: center;
}

.div-container span{
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.jee-coaching {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 176px;
    padding-right: 176px;
    padding-top: 46px;
    min-width: unset;
    margin-left: auto;
    margin-right: auto;
}

.coaching-card-jee{
    padding-top: 40px;
}
.text-jee{
    display: flex;
    flex-direction: column;
}
.text-jee .heading-jee{
    font-weight: 600;
    font-size: 2rem;
        line-height: 2.25rem;
        letter-spacing: -.02em;
}

.text-jee .subheading-jee{
    color: #d8dbdf;
    font-weight: 400;
    padding-top: 40px;
    line-height: 2.5rem;
}
.img-jee img{
    max-width: 100%;
}
.img-jee{
    justify-content: center;
    margin-left: 20%;
}

.jee-banner , .jee-banner2{
    width: 100%;
}

.jee-banner img , .jee-banner2 img{
    align-items: center;
    padding: 3rem 11rem;
    width: 100%;
}


/* ----------------------- */
.jee-banner3 , .jee-banner4 , .jee-banner5{
    width: 100%;
    padding: 3rem 11rem;
    min-width: unset;
    margin-left: auto;
    margin-right: auto;
}
.jee-banner3 .title , .jee-banner4 .title{
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 10px;
        background: none;
        text-align: start;
        margin-bottom: 20px;

}

/* ----------------------------- */

.jee-learning{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    margin-top: 1.5rem;
}


/* -------------------------------------- */

.jee-classroom-container{
    display: flex;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: .5rem;
    border-radius: 2rem;
    background-color: #1a2439;
}

.jee-classroom-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    padding-bottom: 1rem;
    justify-content: center;
    line-height: 24px;
    color: rgb(255, 255, 255);
}
.jee-classroom-heading{
    font-size: 1.5rem;
    font-weight: 400;
}
.jee-classroom-subheading{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
    color: #d8dbdf;
    line-height: 2;
}
.jee-classroom-button{
    font-size: 1rem;
    padding-top: .875rem;
    padding-bottom: .875rem;
    width: 12rem;
    line-height: 1.25;
    font-weight: 500;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 50px;
    border: 1px solid white;
}

.jee-classroom-button:hover{
    background-color:#445c91;
    cursor: pointer;
    transition: .3s ease-in-out;
}


.jee-classroom-img img{
    width: 100%;
    height: auto;
}