.container-3{
    padding: 3rem 11rem;
    min-width: unset;
    margin-left: auto;
    margin-right: auto;
}

.stream-card{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

}

@media (max-width: 768px) {
    .container-3 {
        padding: .5rem; /* Reduce padding on mobile */
        margin-top: 1rem;
    }
    .container-3 .title{
        font-size: 1rem;
        text-wrap: nowrap;
        text-align: center;
}
    

    .stream-card {
        flex-direction: column; /* Stack cards vertically */
        align-items: center;
        gap: 1.5rem; /* Increase space between stacked cards */
    }
}