.container{
margin-top: 30px;

   
}

.banner{
    padding: 1rem 9rem;
    min-width: unset;
    margin-left: auto;
    margin-right: auto;
}

.banner .bannerTop{
    max-width: 100%;
}

.container-first{
    display: flex;
    justify-content: space-between;
    padding: 48px 176px;
    gap: 30%;
    align-items: center;
}

.text-left{
    display: flex;
    flex-direction: column;
}
.heading{
    font-size: 2rem;
        line-height: 2.25rem;
        letter-spacing: -.02em;
        font-weight: 700;
        font-family: "Plus Jakarta Sans", sans-serif;
        padding-bottom: 2.5rem;
}

.subject{
    display: flex;
    flex-direction: column;
}

.sub-heading{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2;
}

.subject-btn{
    display: flex;
    font-size: .86rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    gap: .75rem;
}

.neet-btn, .jee-btn, .grade-btn{
    border: 2px solid #698fe2;
    padding: 10px 20px;
    border-radius: 52px;
    text-wrap: nowrap;
}



.slider-container{
justify-content: space-between;
}

.slider-two-container{
    border: 2px solid black;
}

.container-two{
    width: 100%;
    padding: 3rem 11rem;
    min-width: unset;
    margin-left: auto;
    margin-right: auto;
}

.text-left,
.slider-container {
    flex: 1; /* Make both sections take equal width */
}

/* For smaller screens, stack the two sections vertically */
@media (max-width: 768px) {
    .container-first {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column; /* Stack items vertically */
        padding: 1rem; /* Adjust padding */
        gap: 2rem; /* Increase spacing between elements */
    }
    .banner{
        padding: .5rem 2rem;
    }

    .container-two img{
        width: 100%;
    }

    .container-two{
        padding: .5rem 2rem;
    }
    .text-left,
    .slider-container {
        width: 100%; /* Full width on mobile */
    }

    .heading {
        font-size: 1.5rem; /* Adjust font size on smaller screens */
    }

    .subject-btn {
        justify-content: center; /* Center buttons */
        gap: 0.5rem;
    }
    

}