.course-card-details{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #1a2439;
    border-radius: 10px;
}

/* .course-card-details-title i{
    display: block;
    vertical-align: middle;
    font-size: 5px;
} */
.course-card-details-title{
    --tw-bg-opacity: 1;
    background-color: rgb(20 20 20 / var(--tw-bg-opacity));
    width: fit-content;
    padding: 0 .625rem;
    border-radius: 1rem;
    letter-spacing: .0175rem;
    font-weight: 600;
    font-size: .625rem;
    padding-top: .25rem;
    padding-bottom: .25rem;

}

.course-card-details-heading{
    font-size: 1rem;
    font-weight: 500;
    margin-top: .75rem;
    letter-spacing: .0175rem;
}

.course-card-details-subheading , .course-card-items{
    font-size: .875rem;
    color: #bdc3ce;
    letter-spacing: .0175rem;
    margin-top: .25rem;
    line-height: 1.375rem;
}

.course-card-details-list{
    margin-top: 15px;
    margin-bottom: 15px;

}

.course-card-details-price{
    margin-top: 1.5rem;
    text-decoration-line: line-through;
    color: #bdc3ce;
    letter-spacing: .0175rem;
    font-size: .625rem;
}
.course-card-details-discountedprice{
    display: flex;
    font-size: 1rem;
    letter-spacing: .0175rem;
    font-weight: 600;
    justify-content: end;
}
.course-card-details-discountedprice-text{
    line-height: 1.5;
    --tw-text-opacity: 1;
    color: rgb(63 141 253 / var(--tw-text-opacity));
    font-weight: 600;
    font-size: .875rem;
    gap: .25rem;
    align-items: center;
}